# See https://meta.discourse.org/t/objects-type-for-theme-setting/305009
buttons:
  type: objects
  default:
    - name: button 1
      text: "Custom Component Demo Button!!"
      title: "See this text if you mouseover the button"
      url: "https://www.literatecomputing.com"
      class: "test-button"
      icon: "triangle-exclamation"
      outlet: "top-notices"
      group_action: "show"
      groups: [1]
  schema:
    name: link_button
    properties:
      text:
        type: string
        required: true
        description: The text to display on the button
      title:
        type: string
        required: false
        description: The title attribute for the button
      url:
        type: string
        required: true
        description: The URL to link to when the button is clicked
      class:
        type: string
        required: false
        description: The class to apply to the button
      id:
        type: string
        required: false
        description: The id to apply to the button
      icon:
        type: string
        required: false
        description: The name of the icon to display on the button
      outlet:
        type: string
        required: true
      group_action:
        type: enum
        required: true
        choices:
          - show
          - hide
      groups:
        type: groups
        required: true
        default: []
custom_text_block:
  type: objects
  default:
    - name: text_block 1
      text: "Custom Component Demo Text Block 1!!"
      outlet: "top-notices"
      class: "warning"
      group_action: "show"
      groups: [1]
  schema:
    name: text_block
    properties:
      text:
        type: string
        required: true
      outlet:
        type: string
        required: true
      class:
        type: string
        required: false
      id:
        type: string
        required: false
        description: The id to apply to the text block
      group_action:
        type: enum
        required: true
        choices:
          - show
          - hide
      groups:
        type: groups
        required: true
        default: []
